@import "./Styles/header.css";
@import "./Styles/static-screen.css";
@import "./Styles/sub-header.css";

.center-align {
  text-align: center;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.top-margin {
  margin-top: 20px;
}
