@import "./Styles/header.css";
@import "./Styles/footer.css";
@import "./Styles/recent-task.css";
@import "./Styles/static-screen.css";
@import "./Styles/sub-header.css";
@import "./Styles/signup.css";

.center-align {
  text-align: center;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.top-margin {
  margin-top: 20px;
}

.email-varification-screen .custom-row {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left:20%;
}
